git+https://github.com/huggingface/transformers.git@v4.57.1
git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/peft.git
huggingface_hub
qwen-vl-utils
sentencepiece
opencv-python
torch==2.6.0
molmo_utils
torchvision
matplotlib
gradio